<div class="column">
    <div class="list-cont">
        <div class="backbttn" routerLink="/lists">

            <img src="../../assets/Vector.svg">
            <p> Back to the shopping list</p>

        </div>
        <h1>{{ListName}}</h1>
        <div id="filter">
            <button (click)="getItems(0); filter = 0">all </button>
            <button (click)="getItems(1); filter = 1">completed</button>
            <button (click)="getItems(-1); filter = -1">uncompleted</button>
        </div>
        <ul>
            <li *ngFor='let item of items'>
                <div class="item-cont">
                    <input type="checkbox" [checked]="item.completed" (change)="eventCheck(item)" />
                    <span>{{item.name}}</span>
                </div>
                <div class="bttncont">
                    <button (click)="decreaseQuantity(item.id, item.quantity)">-</button>
                    <input [value]="item.quantity" type="number">
                    <button (click)="increaseQuantity(item.id, item.quantity)" >+</button>
                    <button (click)="deleteItem(item.id)">X</button>
                </div>

            </li>
        </ul>
        <input #name type="text" (keyup.enter)="additemtoList(name.value); name.value=''" placeholder='New Item' >
        <button type="button" (click)="additemtoList(name.value); name.value=''">Create new item</button>
    </div>
