<div class="column">
    <div class="list-cont">
        <div class="backbttn" routerLink="/lists">

            <img src="../../assets/Vector.svg">
            <p> Back to the shopping list</p>

        </div>
        <h1>{{ListName}}</h1>
        <div id="filter">
            <button>all </button>
            <button >completed</button>
            <button >uncompleted</button>
        </div>
        <ul>
            <li *ngFor='let item of items'>
                <div class="item-cont">
                    <input type="checkbox" [checked]="item.completed" (change)="eventCheck(item)" />
                    <span>{{item.name}}</span>
                </div>
                <div class="bttncont">
                    <button >-</button>
                    <input [value]="item.quantity" type="number">
                    <button >+</button>
                    <button >X</button>
                </div>

            </li>
        </ul>
        <input #name type="text" (keyup.enter)="additemtoList(name.value); name.value=''" placeholder="New shopping list">
        <button type="button" (click)="additemtoList(name.value); name.value=''">Create new list</button>
    </div>
